.all {
  background: #bbe5ff;
  padding-bottom: 15px;
}

#dayDiv {
  background: #bbe5ff;
  display: grid;
  width: 90%;
  margin: auto;
}

#dayAgenda {
  display:grid;
  width: 90%;
  margin:auto;
  background:#EDEFFF;
  grid-template-columns: 60% 20% 20%;
}

.timeaddEntry {
  display: grid;
  grid-template-columns: 15% 15% 70%;
  grid-template-rows: 25px 25px;
  grid-template-areas:
    "leftSide middleTop rightSide"
    "leftSide middleLower rightSide";
  margin: 10px;
}
.leftSide {
  grid-area: leftSide;
  background-color: #C4E1F0;
  margin: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  line-height: 80%;
}
.middleTop {
  grid-area: middleTop;
  background-color: greenyellow;
  margin: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-size: small;
}
.middleLower {
  grid-area: middleLower;
  background-color: #FB6767;
  margin: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-size: small;
}
.rightSide {
  grid-area: rightSide;
  background-color: #C4E1F0;
  margin: 1px;
  border-radius: 5px;
  padding-left: 5px;
}
